<h1>ABOUT SETI</h1>
<p>SETI is a non-profit organization aiming at promoting successful initiatives of African youth and diaspora. This association aims in particular at highlighting women of talents who are impacting their communities and beyond. <br>

The motto is to share, support each other and grow!! <br>

More than an association,<br>

- SETI advocates for talented young women who make a difference and who can be a source of inspiration. <br>

- SETI is also an invitation to rediscover and explore the continent through a variety of experiences and a new generation of bold young African women <br>

- SETI offers a unique opportunity to build bridges and break barriers. <br>

The purpose of this association is to celebrate African creativity and culture beyond the continent. It aims at promoting new faces of African women whose talent and achievements are contributing to a greater purpose. <br>

The association will bring together all communities of African descent living in Austria as well as local Austrian guests, with a strong multicultural dimension, bringing together publics of diverse cultural backgrounds. Indeed, SETI is a great opportunity to advocate cultural exchanges and a positive way of interacting with others. <br>

We are looking forward to introducing you to young African women with raw talent, originality, purpose and passion!</p>
