<h2>Featured Posts:</h2>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.category %></td>
        <td><%= post.title %></td>
        <td><%= post.content %>
        <%= link_to 'Show', post %></td>
      </tr>
    <% end %>
    </tbody>
</table>

