<div class="panel panel-default">
  <div class="panel-body">
    <p class="contact-thank">Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
  <p class="home-link"><%= link_to 'Back Home', root_path %></p>
</div><!-- / panel -->
