// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**** New Posts ****/

.new-posts {
	padding: 50px 550px 200px 550px;
	width: auto;
}

main.posts-index {
	text-align: center;
	width: 100%;
}
.show-container {
	width: 100%;
}

table.post-table {
	width: 100%;
	text-align: center;
}
.show-introduction {
	text-align: center;
	font-family: Adobe Garamond W01;
}
.show-time-date {
	font-family: Adobe Garamond W01;
}

p.lead {
	font-family: Adobe Garamond W01;
	font-size: 0.8rem;
}
img.show-image {
	width: 100%;
}

.lead.exerpt {
	font-family: Adobe Garamond W01;
	font-style: italic;
	font-weight: 900;
	line-height: 1.5em;
}

.show-post-content {
	font-family: Adobe Garamond W01;
	font-style: italic;
	line-height: 1.5em;
	font-size: 1rem;
}

.show-links {
	text-align: center;
}
