// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.Btn-log {
	list-style: none;
}

main.login {
	text-align: center;
}

main.sign-up {
	text-align: center;
}

main.user-edit {
	text-align: center;
}

main.registration-user-edit {
	text-align: center;
}